<!-- Signup Modal body -->

<div id="accountChooserPane" class="row gap-3"></div>

<script>
  $(document).ready(function () {
    $('#accountChooserPane').html('');
    const getProfiles = () => JSON.parse(localStorage.getItem('users') || '[]');

    $.get('./components/account-chooser-card.html', function (data) {
      for (const profile of getProfiles()) {
        const date = new Date(profile.id);
        const cardHtml = data
          .replace(/{{profileId}}/g, profile.id)
          .replace(/{{avatar}}/g, profile.avatar)
          .replace(/{{username}}/g, profile.username)
          .replace(
            /{{creationDate}}/g,
            date.toLocaleString('en-us', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
              hour: '2-digit',
              minute: '2-digit',
            })
          );
        $('#accountChooserPane').append(cardHtml);
      }

      if (getProfiles().length) {
        $('#accountChooserPane').prepend(
          '<div class="col-12"><div class="small alert alert-danger mb-0" role="alert"><strong>Note! </strong>Deleted local accounts are gone forever!</div></div>'
        );
      }

      $('#accountChooserPane')
        .append(
          '<div class="col-12"><button class="btn btn-primary w-100 me-2 mt-2"><i class="bi bi-person-fill-add me-2"></i> Create New Account</button></div>'
        )
        .on('click', '.btn-primary', function () {
          $('#signUpModalTitle').text('Create Local Account');
          $('#signUpModalBody').load(
            './components/sign-up.html',
            function () {}
          );
        });
    });

    $('#accountChooserPane').on('click', '.card', function () {
      const profileId = $(this).attr('profile-id');
      localStorage.setItem('activeUserId', profileId);
      window.location.reload();
    });

    $('#accountChooserPane').on('click', '.btn', function (event) {
      event.stopPropagation(); // Prevent the card click event
      const profileId = $(this).closest('.card').attr('profile-id');
      const old_profiles = getProfiles();
      const new_profiles = old_profiles.filter((p) => p.id != profileId);

      localStorage.setItem('users', JSON.stringify(new_profiles));

      $(`div[profile-id="${profileId}"]`).remove();

      if (new_profiles.length === 0) {
        $('#accountChooserPane').prepend(
          '<p class="text-secondary">No accounts available.</p>'
        );
      }

      if (profileId === localStorage.getItem('activeUserId')) {
        localStorage.removeItem('activeUserId');
        window.location.reload();
      }
    });
  });
</script>
