<div id="accountChooserPane" class="row gap-3"></div>

<script>
  profiles = JSON.parse(localStorage.getItem('users') || '[]');
  for (const profile of profiles) {
    const date = new Date(profile.id);
    $('#accountChooserPane').append(
      `<div class="col-12" profile-id="${profile.id}">
            <div class="card d-flex flex-row align-items-center" onclick="localStorage.setItem('activeUserId', JSON.stringify(${JSON.stringify(
              profile.id
            )})); location.reload();" style="cursor: pointer;">
                <img src="../assets/images/${
                  profile.avatar
                }.png" width="75" height="75" style="width:fit-content;" class="p-2 card-img-top rounded-circle" alt="${
        profile.username
      }">
                <div class="card-body flex-1">
                    <h5 class="card-title">${profile.username}</h5>
                    <p class="card-text text-secondary">Created: ${date.toLocaleString(
                      'en-us',
                      {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                      }
                    )}</p>
                </div>
                <button class="btn-close position-absolute top-0 end-0 m-2" onclick="deleteProfile(${
                  profile.id
                })" aria-label="Delete Profile"></button>
            </button>
        </div>`
    );

    $('#accountChooserPane').append(
      `<div class="col-12 text-center">
            <button class="btn btn-primary w-100" onclick="">
                <i class="bi bi-person-fill-add me-2"></i>Create a new local account
            </button>
        </div>`
    );

    function deleteProfile(id) {
      const profiles = JSON.parse(localStorage.getItem('users') || '[]');
      const updatedProfiles = profiles.filter((p) => p.id !== id);
      localStorage.setItem('users', JSON.stringify(updatedProfiles));
      $(`div[profile-id="${id}"]`).remove();
      if (updatedProfiles.length === 0) {
        $('#accountChooserPane').prepend(
          '<p class="text-secondary">No accounts available.</p>'
        );
      }
    }
  }
</script>
