<div
  class="d-flex flex-column justify-content-center align-items-center mb-3"
  style="min-height: 100%">
  <h1 class="display-2 text-center">
    Welcome to
    <strong>CELERγ</strong>
  </h1>
  <p class="lead text-center">
    The Civil Engineering Licensure Examination Reviewer (γ)
  </p>
  <p class="text-secondary text-center">
    This is a web-based reviewer for the Civil Engineering Licensure
    Examination. It is designed to help you prepare for the exam by providing a
    comprehensive set of questions and answers.
  </p>
  <div
    id="homepageTopicSelect"
    class="row row-cols-1 row-cols-md-2 gy-4 mt-5"></div>
</div>
<body></body>
