<!-- Content of ordered list -->
<li class="question-item pb-3 ps-3 user-select-none">
  <p>{{question}}</p>
  <img
    data-question-reference-id="{{questionId}}"
    src="{{img_source}}"
    alt="{{img_source_alt}}" />
  <div class="row g-3 flex-wrap">
    <div class="col-12 col-lg-6">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="option-{{questionId}}-A"
          name="option-{{questionId}}"
          value="A" />
        <label for="option-{{questionId}}-A" class="form-check-label">
          A. {{choiceA}}
        </label>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="option-{{questionId}}-B"
          name="option-{{questionId}}"
          value="B" />
        <label for="option-{{questionId}}-B" class="form-check-label">
          B. {{choiceB}}
        </label>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="option-{{questionId}}-C"
          name="option-{{questionId}}"
          value="C" />
        <label for="option-{{questionId}}-C" class="form-check-label">
          C. {{choiceC}}
        </label>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="option-{{questionId}}-D"
          name="option-{{questionId}}"
          value="D" />
        <label for="option-{{questionId}}-D" class="form-check-label">
          D. {{choiceD}}
        </label>
      </div>
    </div>
  </div>
</li>
