<div
  id="signedOutNotification"
  class="alert alert-warning alert-dismissible fade show opacity-90"
  style="
    max-width: 350px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
  "
  role="alert">
  <strong>You are not signed in!</strong>
  Please sign in to access personalized features.
  <div class="progress mt-2" style="height: 4px">
    <div
      class="progress-bar bg-warning"
      role="progressbar"
      style="width: 100%; transition: width 10s linear"></div>
  </div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>

<body></body>
